# Data Storytelling with Tableau and Python 
## 1. Create virtual environment in VS Code  
1.1 in VS Code: File>Open Folder>Open your project folder OR cd C:\Users\laura\OneDrive\Desktop\projects\tableau_python (change path to your project folder path)
<br>
1.2 ctrl + shift + p, create virtual environment
<br>
1.3 Select kernel: venv
You may see a popup saying that even though your virtual environment is activated, it may not look like it is not but it is indeed active. 
To verify this, check the explorer tab on the left and it should tell you that your folder now contains a dependency called .venv.  

>[ manual way to a virtual environment: 
in VS Code: Terminal>New terminal 
in your terminal while you're in your present folder (check with pwd): 
<br>
run python -m venv venv, hit enter. this will create a new folder holding your project depencies 
<br>
in your terminal: venv\Scripts\Activate, hit enter again]

# 2. Install Python, Tableau and any packages you may need
2.1 install and update pip: python -m pip install --upgrade pip
<br>
2.2 install Python:
https://www.python.org/downloads/ on your browser to download the latest version and follow the on screen instructions
<br>
2.3 install Tableau Public https://public.tableau.com/app/discover

In [1]:
import pandas as pd # basic data analysis library 
import csv # helps Python read a CSV (raw data) file
import os # operating system functionality for Python to be used with Kaggle
import opendatasets as od # helps download a dataset from Kaggle

# 3. Find a Dataset you would like to Investigate
For free datasets: Kaggle. 
Other options: 
- https://data.fivethirtyeight.com/
- https://github.com/BuzzFeedNews/everything
- https://archive.ics.uci.edu/ml/datasets.php
- https://github.com/awesomedata/awesome-public-datasets
- https://www.kaggle.com/datasets?license=cc
- https://datasetsearch.research.google.com/

In [2]:
# in kaggle, navigate to your chosen dataset and copy and paste the link to it
dataset_url  = 'https://www.kaggle.com/datasets/iridazzle/webtoon-originals-datasets?select=webtoon_originals_en.csv'

In [3]:
od.download(dataset_url)

Skipping, found downloaded files in ".\webtoon-originals-datasets" (use force=True to force download)

In [4]:
# define the directory by copy pasting the part after the author's name and before the ?resource=download part
directory = './webtoon-originals-datasets'

In [5]:
os.listdir(directory)

['get_webtoon_csv.ipynb',
 'webtoon_dataframes.ipynb',
 'webtoon_originals_de.csv',
 'webtoon_originals_en.csv',
 'webtoon_originals_es.csv',
 'webtoon_originals_fr.csv',
 'webtoon_originals_id.csv',
 'webtoon_originals_th.csv',
 'webtoon_originals_zh-hant.csv']

In [6]:
# transform your file into a Pandas dataframe, ready for further analysis
df = pd.read_csv('.\webtoon-originals-datasets\webtoon_originals_en.csv')

In [7]:
df.head()

,title_id,title,genre,authors,weekdays,length,subscribers,rating,views,likes,status,daily_pass,synopsis
0,4603,Red Hood: Outlaws,ACTION,"Patrick R. Young,Nico Bascuñan",MONDAY,5,219484,9.64,997928,108280,ONGOING,False,The Outlaws try to go legit -- and fail specta...
1,4596,A Dance of Swords in the Night,ACTION,"JP,MinskySong,Yu jin sung",WEDNESDAY,4,61812,9.60,207372,24226,ONGOING,False,Kidnapped as a child to be trained in the art ...
2,4583,Kill the Dragon,ACTION,"Miss Jisu,J-Sun(REDICE STUDIO),Baeksu Noble",THURSDAY,7,176840,8.84,1687308,121186,ONGOING,False,The human race plunged into a war against drag...
3,4582,Mythic Item Obtained,FANTASY,"Jung SeonYul,Hess",THURSDAY,5,167086,9.43,842795,67739,ONGOING,False,In a world where technology and magic are almo...
4,4572,Marry My Husband,ROMANCE,"sungsojak,LICO",MONDAY,3,24449,9.49,71290,8516,ONGOING,False,"When Jiwon, a 37-year-old cancer patient, walk..."

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811 entries, 0 to 810
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title_id     811 non-null    int64
 1   title        811 non-null    object
 2   genre        811 non-null    object
 3   authors      810 non-null    object
 4   weekdays     811 non-null    object
 5   length       811 non-null    int64
 6   subscribers  811 non-null    int64
 7   rating       811 non-null    float64
 8   views        811 non-null    int64
 9   likes        811 non-null    int64
 10  status       811 non-null    object
 11  daily_pass   811 non-null    bool
 12  synopsis     811 non-null    object
dtypes: bool(1), float64(1), int64(5), object(6)
memory usage: 76.9+ KB

In [9]:
df.describe(include='all')

,title_id,title,genre,authors,weekdays,length,subscribers,rating,views,likes,status,daily_pass,synopsis
count,811.000000,811,811,810,811,811.000000,8.110000e+02,811.000000,8.110000e+02,8.110000e+02,811,811,811
unique,NaN,811,16,720,40,NaN,NaN,NaN,NaN,NaN,3,2,810
top,NaN,DICE,FANTASY,Various Artists,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,ONGOING,False,There are attacks everyday and people suddenly...
freq,NaN,1,146,12,111,NaN,NaN,NaN,NaN,NaN,383,658,2
mean,2239.130703,NaN,NaN,NaN,NaN,79.254007,4.519156e+05,9.373009,4.033532e+07,3.070339e+06,NaN,NaN,NaN
std,1275.850758,NaN,NaN,NaN,NaN,122.830012,6.723263e+05,0.595200,1.081532e+08,6.572596e+06,NaN,NaN,NaN
min,64.000000,NaN,NaN,NaN,NaN,1.000000,6.014000e+03,4.090000,7.129000e+04,8.516000e+03,NaN,NaN,NaN
25%,1261.500000,NaN,NaN,NaN,NaN,15.000000,1.092490e+05,9.250000,2.461856e+06,2.557405e+05,NaN,NaN,NaN
50%,2384.000000,NaN,NaN,NaN,NaN,46.000000,2.214620e+05,9.540000,8.160504e+06,7.722220e+05,NaN,NaN,NaN
75%,3246.500000,NaN,NaN,NaN,NaN,87.000000,5.022215e+05,9.720000,2.788920e+07,2.810740e+06,NaN,NaN,NaN
max,4603.000000,NaN,NaN,NaN,NaN,1410.000000,7.128661e+06,9.940000,1.121118e+09,5.984492e+07,NaN,NaN,NaN

In [10]:
df.isna().sum()

title_id       0
title          0
genre          0
authors        1
weekdays       0
length         0
subscribers    0
rating         0
views          0
likes          0
status         0
daily_pass     0
synopsis       0
dtype: int64

In [11]:
df[df.isnull().any(axis=1)]

,title_id,title,genre,authors,weekdays,length,subscribers,rating,views,likes,status,daily_pass,synopsis
356,2611,My Roommate is a Gumiho,ROMANCE,NaN,TUESDAY,103,296960,9.61,14739945,2005486,ONGOING,False,Now a major (K-Drama) adaptation.\nUnder norma...

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
# remove entire columns that are not needed
# axis=1 drops columns, axis=0 would drop rows
df.drop(['title_id', 'weekdays', 'daily_pass'], axis=1)

,title,genre,authors,length,subscribers,rating,views,likes,status,synopsis
0,Red Hood: Outlaws,ACTION,"Patrick R. Young,Nico Bascuñan",5,219484,9.64,997928,108280,ONGOING,The Outlaws try to go legit -- and fail specta...
1,A Dance of Swords in the Night,ACTION,"JP,MinskySong,Yu jin sung",4,61812,9.60,207372,24226,ONGOING,Kidnapped as a child to be trained in the art ...
2,Kill the Dragon,ACTION,"Miss Jisu,J-Sun(REDICE STUDIO),Baeksu Noble",7,176840,8.84,1687308,121186,ONGOING,The human race plunged into a war against drag...
3,Mythic Item Obtained,FANTASY,"Jung SeonYul,Hess",5,167086,9.43,842795,67739,ONGOING,In a world where technology and magic are almo...
4,Marry My Husband,ROMANCE,"sungsojak,LICO",3,24449,9.49,71290,8516,ONGOING,"When Jiwon, a 37-year-old cancer patient, walk..."
...,...,...,...,...,...,...,...,...,...,...
806,Tales of the Unusual,HORROR,Sungdae Oh,377,799442,9.66,154504958,9518991,ONGOING,In dangerous urban legends and dark ancient my...
807,Knight Run,SF,Sungmin Kim,170,92577,9.31,4667488,165808,COMPLETED,If you could be teleported down to the planet’...
808,The God of High School,ACTION,Yongje Park,557,2683666,9.69,743008133,28814309,ONGOING,Mori Jin is a high school student and Taekwond...
809,HIVE,THRILLER,Kyusam Kim,17,462207,9.66,66639952,2861836,COMPLETED,Gigantic oxygen-doped bees are attempting to d...
810,DICE,FANTASY,Hyunseok Yun,17,1289356,9.29,199086165,10306411,COMPLETED,"Whether it's appearance, grades, or social lif..."

In [14]:
df = df.dropna()

In [15]:
df.drop_duplicates()

,title_id,title,genre,authors,weekdays,length,subscribers,rating,views,likes,status,daily_pass,synopsis
0,4603,Red Hood: Outlaws,ACTION,"Patrick R. Young,Nico Bascuñan",MONDAY,5,219484,9.64,997928,108280,ONGOING,False,The Outlaws try to go legit -- and fail specta...
1,4596,A Dance of Swords in the Night,ACTION,"JP,MinskySong,Yu jin sung",WEDNESDAY,4,61812,9.60,207372,24226,ONGOING,False,Kidnapped as a child to be trained in the art ...
2,4583,Kill the Dragon,ACTION,"Miss Jisu,J-Sun(REDICE STUDIO),Baeksu Noble",THURSDAY,7,176840,8.84,1687308,121186,ONGOING,False,The human race plunged into a war against drag...
3,4582,Mythic Item Obtained,FANTASY,"Jung SeonYul,Hess",THURSDAY,5,167086,9.43,842795,67739,ONGOING,False,In a world where technology and magic are almo...
4,4572,Marry My Husband,ROMANCE,"sungsojak,LICO",MONDAY,3,24449,9.49,71290,8516,ONGOING,False,"When Jiwon, a 37-year-old cancer patient, walk..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,68,Tales of the Unusual,HORROR,Sungdae Oh,SUNDAY,377,799442,9.66,154504958,9518991,ONGOING,False,In dangerous urban legends and dark ancient my...
807,67,Knight Run,SF,Sungmin Kim,TUESDAY,170,92577,9.31,4667488,165808,COMPLETED,False,If you could be teleported down to the planet’...
808,66,The God of High School,ACTION,Yongje Park,FRIDAY,557,2683666,9.69,743008133,28814309,ONGOING,False,Mori Jin is a high school student and Taekwond...
809,65,HIVE,THRILLER,Kyusam Kim,MONDAY,17,462207,9.66,66639952,2861836,COMPLETED,True,Gigantic oxygen-doped bees are attempting to d...
810,64,DICE,FANTASY,Hyunseok Yun,WEDNESDAY,17,1289356,9.29,199086165,10306411,COMPLETED,True,"Whether it's appearance, grades, or social lif..."

In [16]:

df.to_csv(r'C:\Users\laura\OneDrive\Desktop\projects\tableau_python\df2.csv', index=False)