Example on how to read the csv into a pandas dataframe. The elements in the `authors` and `weekdays` columns should be made into lists to make evaluation easier.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("webtoon_originals_en.csv",
                 converters = {"authors": lambda x: x.split(","),
                               "weekdays": lambda x: x.split(",")},
                 encoding = "utf-8",
                 index_col = 0,
                 na_filter = False)
df.head()

,title_id,title,genre,authors,weekdays,length,subscribers,rating,views,likes,status,daily_pass,synopsis
0,3921,The Final Raid Boss,FANTASY,"[KIM JANGHUN, HA SEONGSHIN, PARK SUBONG]",[WEDNESDAY],3,2962,9.94,5401,370,ONGOING,False,"Daejang Gong, aka Raid Leader, used to be rank..."
1,3920,Regina Rena: To the Unforgiven,FANTASY,"[Seol Dong-Won, NANA, kim youngji]",[TUESDAY],4,303384,9.73,1238712,148555,ONGOING,False,Rena Rubel is a beautiful woman who has faced ...
2,3919,Love and Leashes,ROMANCE,[Winter],[FRIDAY],6,157328,8.31,2240640,191785,ONGOING,True,Jihu has a secret kink and has finally met the...
3,3918,My In-Laws are Obsessed with Me,FANTASY,"[seungu, Han Yoon seol]",[SUNDAY],5,225483,9.77,1125324,139363,ONGOING,False,Pereshati Jahardt is a count's daughter who go...
4,3917,Manager Kim,ACTION,"[Jeongjongtaek, Toy]",[SATURDAY],4,98941,9.80,372579,46857,ONGOING,False,"Single father, company manager, and former bla..."

A function to flatten the series of lists.

In [3]:
def flat_series(series):
   flat = []
   for _list in series:
      flat += _list
   return pd.Series(flat)

In [4]:
flat_series(df["authors"]).value_counts()

Various Artists                 14
WmW                              6
Carnby Kim                       5
PARK SUBONG                      4
Ilkwon Ha                        4
                                ..
Jay Boulton & Laurel Boulton     1
Captain Juuter                   1
mushmello                        1
kariyeen                         1
Hyunseok Yun                     1
Length: 813, dtype: int64

In [5]:
flat_series(df["weekdays"]).value_counts()

WEDNESDAY    155
FRIDAY       149
THURSDAY     148
SUNDAY       146
SATURDAY     141
TUESDAY      139
MONDAY       137
dtype: int64